// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answers {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}
.right {
  color: green;
}
.wrong {
  color: red;
}
.challenge pre {
  font-size: 200%;
}

.buttons {
  width: 100%;
  position: fixed;
  bottom: 20vh;
}

button {
  width: 40vw;
  height: 20vh;
  margin: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

#btn-true {
  background: green;
  color: white;
}

#btn-false{
  background: red;
  color: white;
}
#status {
  width: 100%;
}


