<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <p>
          <% if user_signed_in? %>
            <%= image_tag session[:user_data]["avatar_url"], width: "32", height: "32", class: 'img-circle',title: session[:user_data]["name"] %>
            @<%= session[:user_data]["login"] %>
          <% end %>
          <span id="status"></span>
        </p>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right ">
        <% if user_signed_in? %>
          <%= link_to content_tag(:i, " Sign out", class: "glyphicon glyphicon-log-out"), sign_out_path, class: "btn btn-default" %>
        <% else %>
          <%= link_to content_tag(:i, " Sign in with Github", class: "glyphicon glyphicon-log-in"), github_sign_in_path, class: "btn btn-default" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="answers"></div>
<div id="timeout"></div>
